<h1>Editing recipefood</h1>

<%= render "form", recipefood: @recipefood %>

<br>

<div>
  <%= link_to "Show this recipefood", @recipefood %> |
  <%= link_to "Back to recipefoods", recipefoods_path %>
</div>
