<p style="color: green"><%= notice %></p>

<h2 class="section-title">Users</h2>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <button><%= link_to "Show this user", user %></button>
    </p>
    <hr>
  <% end %>
